/vendor/
.env

/docs/_site/
/docs/_build/
/docs/.bundle/
/docs/.jekyll-cache/
/docs/vendor/

/public/qrcodes/
/public/images/

/web-frontend/node_modules/
/web-frontend/logs
/web-frontend/*.log
/web-frontend/npm-debug.log*
/web-frontend/yarn-debug.log*
/web-frontend/yarn-error.log*
/web-frontend/pnpm-debug.log*
/web-frontend/lerna-debug.log*
/web-frontend/.env

/web-frontend/dist/
/web-frontend/dist-ssr
/web-frontend/*.local
